.spinner-overlay {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .spinner-container {
      display: inline-block;
      width: 100px;
      height: 100px;
      border: 3px solid #86f3cb;
      border-radius: 50%;
      border-top-color: #23d997;
      animation: spin 1s ease-in-out infinite;
      -webkit-animation: spin 1s ease-in-out infinite;
      @keyframes spin {
        to {
          -webkit-transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        to {
          -webkit-transform: rotate(360deg);
        }
    }
  }
  }


@media screen and (max-width: 500px) {
  .spinner-overlay {

    .spinner-container {
      width: 70px;
      height: 70px;
    }
  }
}